flows.json
[{"id":"6fd4ce44.36117","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4db9f36f.d422ac","type":"inject","z":"6fd4ce44.36117","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello","payloadType":"str","x":140,"y":200,"wires":[["b87eb727.b4daa8"]]},{"id":"96d72be9.bccc48","type":"debug","z":"6fd4ce44.36117","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":200,"wires":[]},{"id":"b87eb727.b4daa8","type":"change","z":"6fd4ce44.36117","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"hello","fromt":"str","to":"Nodered","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":305,"y":200,"wires":[["96d72be9.bccc48"]],"l":false}]